/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top; }
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/
/* Урок 12 мин 28. Позиционирование через бэкгроунд изображение и отображение списка (li) */
h1	{
	font-size: 60px;	
	padding: 10px 10px 10px 10px;	
}
h2	{
	font-size: 40px;
	padding: 10px 10px 30px 10px;	
	letter-spacing: 3px;
}
p{
	font-size: 18px;
	padding: 10px 10px 10px 10px;	

}

body{
 	background: url('../img/bckgrnd1.jpg');
  	background-repeat: repeat;
/*  	background-attachment: fixed; 
  	background-position: center;
  	background-size: 100%;	
*/	font-family: 'Oswald', serif;
	padding: 10px 50px 10px 50px;
}
img{
/*	max-width: 150px;
	min-width: 75px;
*/
}
button{
   text-decoration: none;
  display: inline-block;
  justify-content: flex-end; /*?*/
  color: black;
  padding: 20px 30px;
  margin: 10px 20px;
  border-radius: 10px;
 /* font-family: 'Montserrat', sans-serif;
 text-transform: uppercase;
*/
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #d3d3d3 0%, #a9a9a9 51%, #808080 100%);
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, .5);
  transition: .5s;

}

.top__ {
		align-self: center;
		text-align: center;
		border: none; /* 5px solid grey; */
		
	}
	
	.top__>img {
		max-width: 200px;
		min-width: 100px;
		border-radius: 50%;
	}
	.top__header {
		position: sticky;
		top: 0px;
		border: none; /*  5px solid greenyellow; */
		text-align: center;

}

.block__ {
/*	border:   15px solid black;
*/	margin: 0px ;
	padding: 10px;
	border-top: 5px solid grey;
	border-right: 5px solid grey;
/*	border-bottom: none;
	border-left: none;
*/	display: flex;
	justify-content: flex-start;
/*	max-width: 1000px;
	min-width: 600px;
*/
}
	.block__r {
/*	border:   15px solid black;
*/	margin: 0px ;
	padding: 10px;
	border-top: 5px solid grey;
	border-left: 5px solid grey;
/*	border-bottom: none;
	border-left: none;
*/	display: flex;
	justify-content: flex-start;
/*	max-width: 1000px;
	min-width: 600px;
*/
}
	.block__img {
		border: none; /*  10px solid red;*/
		align-items: center;
/*		width: 400px;
		max-width: 500px;
		min-width: 200px;
*/
}		
	.block__img>img{
/*		object-fit: contain; 
		display: flex;
*/		max-width: 350px;
		min-width: 100px;
/*		
		size: auto;
*/		align-items: center;
		vertical-align: center; 
}
	.block__img>a{
		vertical-align: center; 
}
	.block__txt {
		border: none; /*  5px solid  green; */
		padding: 10px 10px 10px 10px;
		line-height: 1.5;
/*		min-width: 400px;
		max-width: 500px;
*/
}
.bottom__ {
	border-top: 5px solid grey;
		align-self: center;
		text-align: center;
}
	.bottom__>a>img {
		max-width: 70px;
		min-width: 20px; /*?*/
}
	.bottom__>img {
		max-width: 70px;
		min-width: 20px; /*?*/
}

.but__more {
  text-decoration: none;
  display: inline-block;
  justify-content: flex-end; /*?*/
  color: black;
  padding: 20px 30px;
  margin: 10px 20px;
  border-radius: 10px;
 /* font-family: 'Montserrat', sans-serif;
 text-transform: uppercase;
*/
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #d3d3d3 0%, #a9a9a9 51%, #808080 100%);
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, .5);
  transition: .5s;
}
.but__more:hover {
  background-position: right center;
}
.but__gotop {
		padding: 10px;
		margin: 0px;
		display: flex;
		position: fixed;
		justify-content: center;
		width: 40px;
		right: 5px;
		bottom: 20px;
  		background-image: linear-gradient(to right, #d3d3d3 0%, #a9a9a9 51%, #808080 100%);
  		background-size: 200% auto;
  		box-shadow: 0 0 20px rgba(0, 0, 0, .5);
  		transition: .5s;
/*	  		background: greenyellow;
	border: 0px solid greenyellow;
		text-align: center;	
*/		z-index: 2;
}
.but__gotop:hover {
  background-position: right center;
}
	.but__gotop>a>img {
		object-fit: contain; 
		max-height: 20px;
		size: auto;
/*		min-width: 20px; 
*/
}


.button {
   text-decoration: none;
   display: inline-block;
   padding: 0 12px;
   background: #cccccc;
   color: white;
   text-transform: uppercase;
   font-size: 14px;
   line-height: 28px;
   transition: .3s ease-in;
}

